/* CUSTOM FONT */
* {
  font-family: 'Gill Sans', sans-serif;
  /* background-color: coral; */
}

/* ******CUSTOM Container ******** */
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1800px;
  }
}
/* ******CUSTOM Main Container ******** */
.rlv-main-container {
  margin-top: 2%;
}
/* ******CUSTOM nav ******** */
.rlv-logo {
  width: 95px;
  height: auto;
  margin-top: 55px;
}

@media (max-width: 1199px) {
  .rlv-logo {
    width: 95px;
    height: auto;
    margin-top: 55px;
  }
}

@media (max-width: 991px) {
  .rlv-logo {
    width: 75px;
    height: auto;
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .rlv-logo {
    width: 55px;
    height: auto;
    margin-top: 0px;
  }
}

.RLV-nav-bar {
  background-color: #001a31 !important;
  font-size: 1.5rem;
  height: 60px;
}
@media (max-width: 991px) {
  .RLV-nav-bar {
    background-color: #001a31 !important;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .RLV-nav-bar {
    background-color: #001a31 !important;
    font-size: 1.3rem;
    height: 80px;
  }
}

.RLV-navbar-item {
  padding-left: 1.5rem !important;
}
@media (max-width: 991px) {
  .RLV-navbar-item {
    padding-left: 1rem !important;
  }
}
@media (max-width: 767px) {
  .rlv-nav_collapse {
    background-color: #001a31be !important;
    z-index: 999;
  }
}
.rlv-avatar {
  margin-top: -36px;
}
@media (max-width: 991px) {
  .rlv-avatar {
    margin-top: -25px;
  }
}

#rlv-avatar a {
  color: rgba(255, 255, 255, 0.5);
}
.dropdown-item {
  color: #001a31be !important;
}
.carousel-inner {
  z-index: -1;
}

.rlv-subnav{
  margin-left: 14%;
  z-index: 999;
  }

 .active{
    text-decoration: underline !important;  
    font-weight: 600 !important
   }
  
 .rlv-subnav-item{
z-index: 9999 !important;
  }
 .rlv-subnav-item a {
   color: #001a31be !important;
   font-size: 1.3rem;
   font-weight: 400;
   z-index: 999;
   
 } 
 .rlv-subnav-item:hover {
  cursor: pointer;
 } 
/* ******CUSTOM home ******** */
.rlv-img-claim {
  margin-top: 35%;
}
@media (max-width: 991px) {
  .rlv-img-claim {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .rlv-img-claim {
    margin-top: 0px;
  }
}
/* *********CUSTOM index****** */
.rlv-zindex {
  z-index: -1;
}

/* ******CUSTOM slider******* */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

ol {
  margin-bottom: 0.2rem !important;
}
.carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0 10px;
}

@media (max-width: 991px) {
  .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 10px;
  }
}
/* ****** CUMTOM page-incio ****** */

.rlv-claim-tex {
  font-family: 'Amalfi Coast', sans-serif;
  font-size: 35px;
  width: 40%;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}

.rlv-subclaim-text {
  font-size: 22px;
  width: 50%;
  float: left;
  margin-top: 15%;
  margin-left: -22%;
}
@media (max-width: 1599px) {
  .rlv-subclaim-text {
    font-size: 22px;
    width: 50%;
    float: left;
    margin-top: 15%;
    margin-left: -14%;
  }
}
@media (max-width: 991px) {
  .rlv-claim-tex {
    font-family: 'Amalfi Coast', sans-serif;
    font-size: 27px;
    width: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
  }
}

@media (max-width: 991px) {
  .rlv-subclaim-text {
    font-size: 19px;
    width: 50%;
    float: left;
    margin-top: 18%;
    margin-left: -11%;
  }
}
@media (max-width: 767px) {
  .rlv-claim-tex {
    font-family: 'Amalfi Coast', sans-serif;
    font-size: 19px;
    width: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
  }
}
@media (max-width: 767px) {
  .rlv-subclaim-text {
    font-size: 14px;
    width: 50%;
    float: left;
    margin-top: 25%;
    margin-left: -11%;
  }
}
.rlv-btn-inicio {
  margin-top: 15%;
}
@media (max-width: 991px) {
  .rlv-btn-inicio {
    margin-top: 0px !important;
  }
}
@media (max-width: 767px) {
  .rlv-btn-inicio {
    margin-top: 0px;
  }
}
.btn-rutas {
  background-color: rgba(192, 161, 161, 0) !important;
  border: 0;
}
/* ****** CUMTOM page-sign-up ****** */
.rlv-logo-sign-up {
  margin-top: 15%;
  text-align: center;
}
.rlv-btn-form {
  background-color: #001a31;
}
.rlv-checkbox {
  margin-left: 9%;
}
.rlv-logo-sign-in {
  margin-top: 20%;
  margin-bottom: 5%;
  text-align: center;
}

/* ******custom page-rutas*********** */

.rlv-rutas-tittle {
  margin: 2% 5%;
}
.rlv-rutas-text {
  font-family: 'Amalfi Coast', sans-serif;
  display: inline;
}
.rlv-card {
  border: none;
}


.card-body {
  padding: 0;
}

.card-img, .card-img-top:hover {
  cursor: pointer;
}
.rlv-ruta-detalle{
  margin-top: 4%;
}
/**** boton detalles ***/
.button {
  margin : 0 auto;
  margin-top : 10px;
  width : auto;
  height : 50px;
  background : #001a31;
  overflow : hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius : 5px;
}
.hover {
  position : relative;
  border : 2px solid white;
  width : 230px;
  height : 200px;
  margin-top: -110px;
  background : #34475E;
  left : -255px;
  transition : .3s;
  transform : rotate(20deg);
  opacity : .8;
}
.clic {
  color : white;
  transition : .3s;
  font-size: 1.3rem;
  padding-top: 10px;
}
.button:hover .hover{
  left: -145px;
}
.button:hover .clic{
  margin-left : 80px;
}
.sure {
  margin-top : 37px;
  margin-right : -135px;
  color : white;
  transform : rotate(-20deg);
  font-size: 1.3rem;
}
.button:active {
  box-shadow: 2px 2px 1px #888888;
}
/********zoom**************/
.overlay,
.overlay-text,
.simple-text,
.overlay-sim-text-2,
.overlay-text-effect-3,
.zoom-effect-1 img,
.zoom-effect-2 img,
.opacity-effect img,
.blur-effect img,
.grayscale-effect img{
 transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
}
.image-wrapper{
margin-bottom: 35px;
}
.effect-image-1{
position: relative;
display: block;
}
.overlay-text p,
.overlay-sim-text-2 p,
.overlay-text-effect-3 p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 20px 20px;
}
.overlay{
position: absolute;
display: block;
width: 100%;
height: 100%;
left:0;
top:0;
background: rgba(246,0,2,.7);
opacity: 0;
visibility: hidden;
}
.zoom-effect-1{
  overflow: hidden;
}

.zoom-effect-1 img{
  transform: scale(1);
  -webkit-transform: scale(1);
}

.zoom-effect-1:hover img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}